<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/foundation/css/foundation.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/userPage.css" />
    <!-- Lord of Might Font-->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <title>User - Lords of Might</title>
</head>

<body>

<!-- Music -->
{{!-- <audio autoplay loop>
      <source src="/audio/create_signup.mp3" type="audio/mpeg" />
      <source src="/audio/battle.mp3" type="audio/mpeg" />
</audio> --}}


    <!--navbar-->
    <nav class="top-bar" id="navDiv">

        <div class="top-bar-left">
            WELCOME <span id="username">{{user.name}}!</span>
        </div>

        <a class="top-bar-right waves-effect waves-light" id="logout-btn">
            LOGOUT
        </a>

    </nav>

    <!--fight or shop-->
    <div class='container'>
        <div id="button-container" class='row'> 
            <a id='index' class="waves-effect waves-light btn" href='/'>Main</a>

            <a id='fight' class="waves-effect waves-light btn" href='/game'>Game</a>

            <a id='shop' class="waves-effect waves-light btn" href='/shop'>Shop</a>
        </div>

        <!-- character image-->
        <div class="row valign-wrapper" id="user-info">
            <div id="userStat" class='col s8'>
                <h3>Attributes</h3>
                <h5>Status: {{user.status}}</h5>
                <h5>id: {{user.id}}</h5>
                <hr>
                <table class='striped'>
                <tbody>
                  <tr>
                    <td><span class='stats-item'>HP</span></td>
                    <td><span id='user-hp'>{{user.Stat.hp}}</span></td>
                    <td><span class='stats-item'>MP</span></td>
                    <td><span id='user-mp'>{{user.Stat.mp}}</span></td>
                  </tr>
                  <tr>
                    <td><span class='stats-item'>Attack</span></td>
                    <td><span id='user-attack'>{{user.Stat.attack}}</span></td>
                    <td><span class='stats-item'>Defense</span></td>
                    <td><span id='user-defense'>{{user.Stat.defense}}</span></td>
                  </tr>
                  <tr>
                    <td><span class='stats-item'>Agility</span></td>
                    <td><span id='user-agility'>{{user.Stat.agility}}</span></td>
                    <td><span class='stats-item'>Recovery</span></td>
                    <td><span id='user-recovery'>{{user.Stat.recovery}}</span></td>
                  </tr>
                  <tr>
                    <td><span class='stats-item'>Win</span></td>
                    <td><span id='user-win'>{{user.Game_State.win}}</span></td>
                    <td><span class='stats-item'>Lose</span></td>
                    <td><span id='user-lose'>{{user.Game_State.lose}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="profile-container" class='col s4'>
                <img class='card' id='#profile-img' src='/img/profilePics/{{user.profile}}'/>
            </div>
        </div>
    </div>

    <script>

        $('.container').fadeIn('slow')

        $('#logout-btn').on('click', function(){

            $.ajax({
                url: '/user/logout',
                method: 'POST',
                success: function(res){
                    window.location.replace('/');
                }
            })
        })
    </script>
</body>

</html>
